<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.milindvishnoi.hide-desktop-icon</string>
	<key>connections</key>
	<dict>
		<key>B77897B7-A251-413E-960A-20A4B34C3F31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA082C6E-E012-4BBB-924D-6D5F7C199CE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DA082C6E-E012-4BBB-924D-6D5F7C199CE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB9E5684-CB82-41C7-994C-787DB3918789</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Milind Vishnoi (@milindvishnoi)</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Desktop Icons</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B77897B7-A251-413E-960A-20A4B34C3F31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if $(defaults read com.apple.finder CreateDesktop); then
    defaults write com.apple.finder CreateDesktop false;
else
    defaults write com.apple.finder CreateDesktop true;
fi; killall Finder</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB9E5684-CB82-41C7-994C-787DB3918789</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hide</string>
				<key>subtext</key>
				<string>Allows you to hide/show desktop icons</string>
				<key>text</key>
				<string>Toggle Desktop Icons</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DA082C6E-E012-4BBB-924D-6D5F7C199CE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Hides/Shows the desktop icons, making the Desktop more presentable.

Using the bash we set the build desktop flag to False to hide the desktop. Then fillall finder command is used to restart finder and this time desktop is not loaded.</string>
	<key>uidata</key>
	<dict>
		<key>B77897B7-A251-413E-960A-20A4B34C3F31</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>DA082C6E-E012-4BBB-924D-6D5F7C199CE3</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>FB9E5684-CB82-41C7-994C-787DB3918789</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/milindvishnoi/alfred-toggle-desktop-icons</string>
</dict>
</plist>
